:root {
    --main-color-tinder: rgb(254, 60, 114);
    --main-color-tinder-shadow: rgb(254, 60, 114, .1);
    --accent-color-tinder: rgb(66, 66, 66);
    --text-color: rgb(255, 255, 255);
    --sligth-dark: rgb(58,69,79);
    --main-dark: rgb(33,37,41);
    --muted-text: rgb(137,138,139);
}



html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--text-color);
    background: linear-gradient(-90deg, var(--text-color) 50%, rgb(240, 248, 255) 80%);
    color: var(--accent-color-tinder);
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


.cover-page {
    background: linear-gradient(-90deg, var(--main-dark) 50%, var(--sligth-dark) 80%);
    color: var(--text-color);
}
.colored-header{
    background-color: var(--main-color-tinder);
    color: var(--text-color);
}

.navbar-brand:focus,
.navbar-brand:hover,
.navbar-brand,
.nav-link{
    color: var(--text-color);
}

.nav-link:focus,
.nav-link:hover{
    color: var(--accent-color-tinder);
}
.nav-link

.my-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 765px) {
    .my-nav {
        flex-direction: column;
        justify-content: center;
    }
}

.my-container {
    width: 65%;
    margin: 0 auto;
}

@media only screen and (max-width: 1050px) {
    .my-container {
        width: 75%;
    }
}

@media only screen and (max-width: 950px) {
    .my-container {
        width: 80%;
    }
}

@media only screen and (max-width: 850px) {
    .my-container {
        width: 85%;
    }
}

@media only screen and (max-width: 650px) {
    .my-container {
        width: 90%;
    }
}

.brd{
    border: solid 1px black;
}


.form {
    border: solid 1px rgb(0, 0, 0, .3);
    border-radius: 3px;
    margin: 50px auto;
    margin-bottom: 10px;
    width: 350px;
    padding: 20px;
}




form input{
    background-color: inherit;
    color: var(--main-dark);
    border: solid 1px var(--accent-color-tinder);
    font-size: .9rem;
    padding: 5px 10px;
    margin: 5px 0;
}

textarea {
    background-color: inherit;
    border: solid 1px var(--accent-color-tinder);
}

.logout{
    border: solid 1px var(--text-color);
    color: var(--text-color);
    background-color: var(--main-color-tinder);
}

.my-btn {
    border: solid 1px var(--main-color-tinder);
    color: var(--main-color-tinder);
    background-color: var(--text-color);
    outline: none;
}

.my-btn-fill {
    background-color: var(--main-color-tinder);
    color: var(--text-color);
    outline: none;
    border: none;
}

.my-btn-muted{    
    border: solid 1px var(--muted-text);
    color: var(--muted-text);
    background-color: var(--text-color);
    outline: none;
}

.logout:hover {
    background-color: var(--text-color);
    color: var(--main-color-tinder);
}

.my-btn:hover {
    background-color:var(--main-color-tinder);
    color: var(--text-color);
    outline: none;
}

.my-btn-muted:hover {    
    background-color:var(--muted-text);
    color: var(--text-color);
    outline: none;
}


.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.info1{
    border: solid 1px rgb(0, 0, 0, .3);
    border-radius: 3px;
    padding: 20px;
    margin: 0 10px;
}

.info2{
    border: solid 1px rgb(0, 0, 0, .3);
    border-radius: 3px;
    padding: 20px;
    margin: 0 10px;

}

@media only screen and (max-width: 1000px) {    
    .profile-container{
        flex-direction: column;
    }
    
    .info1 {
        margin-bottom: 10px;
    }

    .info2,
    .info1 {
        width: 100%;
    }
}


tbody tr{
    vertical-align: middle;
    cursor: pointer;
}

.bodies-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
}

.body-card-container {
    border: solid 1px var(--muted-text);
    border-radius: 4px;
    box-shadow: 1px 1px 3px 3px var(--main-color-tinder-shadow);
    cursor: pointer;
}

.body-card {
    width: 100%;
    border-bottom: solid 1px var(--muted-text);
}

.body-img{
    height: 85px;
    width: 85px;
    border-top-left-radius: 3px;
}

.body-card-info {
    /* border: solid 1px; */
    padding: 5px;
    margin-left: 5px
}

.body-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.sm-text {
    font-size: .8rem;
    color: var(--muted-text);
}

.review {
    border-radius: 3px;
    border: solid 1px var(--muted-text);
    width: 300px;
    text-align: start;
}
.name-ts {
    border-bottom: solid 1px var(--muted-text);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.name,
.ts{
    margin: 0;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.1rem;
}

.ts{
    font-size: .7rem;
    color: var(--muted-text);
}

.review_text {
    padding: 10px 15px;
}

.review_section {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 10px;
}

@media only screen and (max-width: 1000px) {    
    .review_section {
        grid-template-columns: auto auto;
    } 
}

@media only screen and (max-width: 650px) {    
    .review_section {
        grid-template-columns: auto;
    } 
    .review{
        width: 350px;
    }
}