{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

<!-- content block -->
{% block content %}
    <section class='container'>
        <!-- add bodycount button -->
        <div class="text-center">
            <!-- <button class="my-3 fs-6 fw-bold text-capitalize py-1 px-3 my-btn">Add new</button> -->
            <button type="button" class="my-4 fs-6 fw-bold text-capitalize py-1 px-3 my-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Add new
            </button>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                    <form class="row g-3" id='form' action="" enctype="multipart/form-data">
                      {% csrf_token %}

                      <div class="col-md-6">
                        <label for="full_name" class="form-label">Full Name</label>
                        {{ form.full_name|add_class:"form-control" }}
                      </div>

                      <div class="col-md-6">
                        <label for="phone" class="form-label">Phone</label>
                        {{ form.phone|add_class:"form-control" }}                        
                      </div>

                      <div class="col-12">                            
                        <label for="photo" class="form-label">Upload Photo</label>
                        {{ form.photo|add_class:"form-control" }}
                      </div>

                      <div class="col-md-4">
                        <label for="age" class="form-label">Age</label>
                        {{ form.age|add_class:"form-control" }}
                      </div>

                      <div class="col-md-4">
                        <label for="location" class="form-label">Location/Town</label>
                        {{ form.location|add_class:"form-control" }}
                      </div>

                      <div class="col-md-4">
                        <label for="rating" class="form-label">Rating</label>
                        {{ form.rating|add_class:"form-control" }}
                      </div>

                      <div class="d-grid gap-2 mb-3">
                        <button type="submit" id='submit' class="btn btn-outline-success">Add</button>
                      </div>

                    </form>
                    <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>

              </div>
            </div>
            </div>
        </div>

        <!-- toast after addition of person -->
        <div class="toast align-items-center text-white bg-secondary top-0 end-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body"></div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>

        <section id="content" class="mt-2 bodies-container">
        </section>
         

    </section>
{% endblock content %}



{% block javascript %}
<script>
  // when document is ready get persons list
  $(document).ready(function(){
        console.log("am ready to suffer")
        $("#content").html(
          `
          <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></div>
          `
        )

            // get coookies
            function getCookie(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  const cookies = document.cookie.split(';');
                  for (let i = 0; i < cookies.length; i++) {
                      const cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          const csrftoken = getCookie('csrftoken');
          
          $.ajax({
              url:"{% url 'body:home' %}",
              type: "GET",
              processData: false,
              contentType: false,
              headers: {
                  "X-Requested-With": "XMLHttpRequest",
                  'X-CSRFToken': csrftoken
              },
              success: (response)=> {
                $(".spinner-border").remove()
                if (response.persons_list.length == 0) {
                  $("#content").append("<p class='text-center'>You haven't added a peson you banged !! </p>")
                } 

                if (response.persons_list.length >= 0) {
                  response.persons_list.forEach((person)=> {
                    var person_card = `
                    <div class='p-0 body-card-container d-flex flex-column justify-content-center align-items-center brd'>
                      <div class='body-card d-flex flex-row justify-content-between align-items-center'>
                        <img class="body-img" src="/media/${person.photo}" alt="${person.full_name}" />
                          <div class='body-card-info'>
                              <p class="m-0"><span class='sm-text'>age: </span>${person.age} </p>
                              <p class="m-0"> <span class='sm-text'>Phone: </span> ${person.phone} </p>
                              <p class="m-0"> <span class='sm-text'>Rating: </span> ${person.rating} </p>
                          </div>
                      </div
                      <h4> ${person.full_name} </h4>
                  </div>                    
                    `
                  $("#content").append(person_card)
                  })


                }
              },
              error: (error)=> {
                  console.log(error.message)
              }
          })
  })
  // on submit call this function
    $("#form").submit(function(e){
        e.preventDefault();

        $("#submit").text("Adding ...")
        $("#submit").prop("disabled", true)

        let data = new FormData($(this).get(0))

        // get coookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        
        $.ajax({
            url:"{% url 'body:add_person' %}",
            type: "POST",
            processData: false,
            contentType: false,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                'X-CSRFToken': csrftoken
            },
            data: data,
            success: (response)=> {
              $(".modal").modal("hide");
              // console.log(JSON.parse(response.person)[0].fields.full_name)
              
              $('.toast-body').text(`${JSON.parse(response.person)[0].fields.full_name} was added successfully :)`);

              $('.toast').toast('show');

              $("#content").prepend(
                  `
                  <div class='p-0 body-card-container d-flex flex-column justify-content-center align-items-center brd'>
                    <div class='body-card d-flex flex-row justify-content-between align-items-center'>
                      <img class="body-img" src="/media/${JSON.parse(response.person)[0].fields.photo}" alt="${JSON.parse(response.person)[0].fields.full_name}" />
                        <div class='body-card-info'>
                            <p class="m-0"><span class='sm-text'>age: </span>${JSON.parse(response.person)[0].fields.age} </p>
                            <p class="m-0"> <span class='sm-text'>Phone: </span> ${pJSON.parse(response.person)[0].fields.phone} </p>
                            <p class="m-0"> <span class='sm-text'>Rating: </span> ${JSON.parse(response.person)[0].fields.Rating} </p>
                        </div>
                    </div
                    <h4> ${JSON.parse(response.person)[0].fields.full_name} </h4>
                  </div>                    
                `
              )

            },
            error: (error)=> {
                console.log(error.message)
            }
        })
    })
</script>
{% endblock javascript %}
