{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

<!-- content block -->
{% block content %}
    <section class='container'>
        <!-- add bodycount button -->
        <div class="text-center">
            <!-- <button class="my-3 fs-6 fw-bold text-capitalize py-1 px-3 my-btn">Add new</button> -->
            <button type="button"  class='shell-btn px-4 mb-3' data-bs-toggle="modal" data-bs-target="#addPersonModal">
                Add new
            </button>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="addPersonModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addPersonModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                    <form class="row g-3" id='form' action="" enctype="multipart/form-data">
                      {% csrf_token %}

                      <div class="col-md-6">
                        <label for="full_name" class="form-label">Full Name</label>
                        {{ form.full_name|add_class:"form-control" }}
                      </div>

                      <div class="col-md-6">
                        <label for="phone" class="form-label">Phone</label>
                        {{ form.phone|add_class:"form-control" }}                        
                      </div>

                      <div class="col-12">                            
                        <label for="photo" class="form-label">Upload Photo</label>
                        {{ form.photo|add_class:"form-control" }}
                      </div>

                      <div class="col-md-4">
                        <label for="age" class="form-label">Age</label>
                        {{ form.age|add_class:"form-control" }}
                      </div>

                      <div class="col-md-4">
                        <label for="location" class="form-label">Location/Town</label>
                        {{ form.location|add_class:"form-control" }}
                      </div>

                      <div class="col-md-4">
                        <label for="rating" class="form-label">Rating</label>
                        <div class='stars'>
                          <span id='1' class="fa fa-star"></span>
                          <span id='2' class="fa fa-star"></span>
                          <span id='3' class="fa fa-star"></span>
                          <span id='4' class="fa fa-star"></span>
                          <span id='5' class="fa fa-star"></span>
                        </div>
                      </div>

                      <div class="d-grid gap-2 mb-3">
                        <button type="submit" id='submit' class="btn btn-sm btn-secondary rounded-0 fw-bold">Add</button>
                      </div>

                    </form>
                    <div class="d-grid gap-2">
                    <button type="button" class="btn-main" data-bs-dismiss="modal">Cancel</button>
                    </div>

              </div>
            </div>
            </div>
        </div>
        <!-- list all persons-->
        <section id="content" class='mb-5'>
        </section>
         

    </section>
{% endblock content %}



{% block javascript %}
<script>
  // handle rating
  const one = document.getElementById("1")
  const two = document.getElementById("2")
  const three = document.getElementById("3")
  const four = document.getElementById("4")
  const five = document.getElementById("5")

  const handleStartSelect = (size)=> {
    const all_stars = document.querySelector(".stars").children;
    for (let i=0; i < all_stars.length; i++) {
        if(i<=size){
          all_stars[i].classList.add("checked");
        } else {
          all_stars[i].classList.remove("checked");          
        }
    }
  }

  const handleSelect = (selection)=> {
    switch(selection){
      case 1: {
        handleStartSelect(0)
        return
      }
      case 2: {
        handleStartSelect(1)
        return
      }

      case 3: {
        handleStartSelect(2)
        return
      }

      case 4: {
        handleStartSelect(3)
        return
      }

      case 5: {
        handleStartSelect(4)
        return
      }
      
    }
  }

  const all_stars = [one, two, three, four, five]

  let vote_star = 0;

  all_stars.forEach(item => {
    item.addEventListener('mouseover', (event)=> {
      handleSelect(parseInt(event.target.id))
    })

    item.addEventListener('click', (event)=>{
      vote_star = parseInt(event.target.id)
    })
  })


  // when document is ready get persons list
  $(document).ready(function(){
        $("#form input").prop("required", true)
        // add class to home tag
        $("body").addClass("home")
        $("#nav-home").addClass('active')
        // insert a loader or spinner
        $("#content").html(
          `
          <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status"></div>
          `
        )

            // get coookies
            function getCookie(name) {
              let cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  const cookies = document.cookie.split(';');
                  for (let i = 0; i < cookies.length; i++) {
                      const cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          const csrftoken = getCookie('csrftoken');
          
          $.ajax({
              url:"{% url 'body:home' %}",
              type: "GET",
              processData: false,
              contentType: false,
              headers: {
                  "X-Requested-With": "XMLHttpRequest",
                  'X-CSRFToken': csrftoken
              },
              success: (response)=> {
                $(".spinner-border").remove()
                if (response.persons_list.length == 0) {
                  $("#content").append("<p class='none text-center'>You haven't added a peson you banged !! </p>")
                } 

                if (response.persons_list.length >= 0) {
                  response.persons_list.forEach((person)=> {
                    const stars = (count)=> {
                      switch(count){
                        case 0: {
                         return `
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        `
                        }
                        case 1:{
                        return `
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        `
                        }
                        case 2: {
                        return `
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        `
                        }
                        case 3: {
                        return `
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        `
                        }
                        case 4: {
                        return `
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        `
                        }
                        case 5: {
                        return `
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        `
                        }
                      }
                    }
                    var person_card = `
                    <div class="person-card">
                      <div class="card-content">
                        <img src="/media/${person.photo}" alt="${person.full_name}" />
                          <div>
                              <p class="m-0"><span>age: </span>${person.age} </p>
                              <p class="m-0"> <span>Phone: </span> ${person.phone} </p>
                              <p class="m-0"> <span>Rating: </span> ${stars(person.rating)}</p>
                          </div>
                        <h4> ${person.full_name} </h4>
                      </div
                  </div>                    
                    `
                  $("#content").append(person_card)

                  })


                }
              },
              error: (error)=> {
                  console.log(error.message)
              }
          })
  })
  // on submit call this function
    $("#form").submit(function(e){
        e.preventDefault();

        $("#submit").text("Adding ...")
        $("#submit").prop("disabled", true)

        let data = new FormData($(this).get(0))
        data.append('rating',vote_star)

        // get coookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        
        $.ajax({
            url:"{% url 'body:add_person' %}",
            type: "POST",
            processData: false,
            contentType: false,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                'X-CSRFToken': csrftoken
            },
            data: data,
            success: (response)=> {
              
              if ($(".none")){
                $(".none").remove()
              }

              $(".modal").modal("hide");
              // create new toast element
              const new_person = JSON.parse(response.person)[0].fields
              $("#content").prepend( 
                  `
                  <div class="person-card">
                    <div class="card-content">
                      <img src="/media/${new_person.photo}" alt="${new_person.full_name}" />
                        <div>
                            <p class="m-0"><span>age: </span>${new_person.age} </p>
                            <p class="m-0"> <span>Phone: </span> ${new_person.phone} </p>
                            <p class="m-0"> <span>Rating: </span> ${new_person.rating} </p>
                        </div>
                      <h4> ${new_person.full_name} </h4>
                    </div
                </div>                    
                `
              )


            },
            error: (error)=> {
                console.log(error.message)
            }
        })
    })
</script>
{% endblock javascript %}
