{% extends 'base.html' %}

{% block content %}
<section class="text-center container">
    <!-- posted reviews total in number post review -->
    <section class='my-4 py-4'>
        <h6 class="fw-bold">{{ total_reviews }} 
            Reviews posted.
            <button class="btn btn-outline-primary bt-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Post your review
            </button
        </h6>

          <div class="collapse mt-2" id="collapseExample">
            <div class="card card-body">
                <form  method='post' action="{% url 'body:add_review' %}" id="add-review-form" class='d-flex flex-column justify-content-center align-items-center' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.comments }}
                    <button type="submit" class="btn btn-sm btn-primary py-1 px-3 mt-3">Post Review</button>   
                </form>
            </div>
          </div>
    </section>
    <!-- review list -->
    <section>
        {% for review in review_list  %}
            <div>
                <h6>{{ review.user.username }}</h6>
                <p>{{ review.comments }}</p>
            </div>
        {% endfor %}
    </section>

</section>
{% endblock content %}