{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Reviews{% endblock title %}

{% block content %}
<section class="container">
    <!-- posted reviews total in number post review -->
    <section class='text-center  my-4 py-4'>
        <h6 class="fw-bold"><span id='count'></span>
            Review(s) posted.
            <button class="btn btn-link btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#postReviewCollapse" aria-expanded="false" aria-controls="postReviewCollapse">
                Post your review
              </button>
        </h6>

        <div class="collapse" id="postReviewCollapse">
            <div class="card card-body">
                <form  method='post' action="" id="form" >
                    {% csrf_token %}
                    {{ form.review_text|add_class:"form-control" }}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" id='post' class="btn btn-sm btn-primary py-1 px-3 mt-3 me-md-2">Post Review</button>   

                      </div>
                </form>
            </div>
        </div>
          
    </section>
    <!-- review list -->
    <section id='reviews'>


    </section>

</section>
{% endblock content %}



{% block javascript %}
<script>
    // on load show a toast
    $(document).ready(function(){
        $("body").addClass("review")
        $(".form-control").prop("placeholder", "Post your thoughts ...")
        $("#nav-reviews").addClass('active')
        $("#reviews").html(
            `
            <div class='text-center loader'><div class="spinner-border" style="width: 4rem; height: 4rem;" role="status"></div></div>
            `
          )
                // get coookies
                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                const csrftoken = getCookie('csrftoken');
                
                $.ajax({
                    url:"{% url 'body:reviews' %}",
                    type: "GET",
                    processData: false,
                    contentType: false,
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        'X-CSRFToken': csrftoken
                    },
                    success: (response)=> {
                        $(".loader").remove()
                        const reviews = response.review_list
                        const total_reviews = response.total_reviews
                        if (reviews.length == 0) {
                            $("#count").text('0')

                            $("#reviews").append(`
                                <p class="none text-center mt-3">No reviews have been posted. </p>
                                
                            `)                            
                        }
                        if (reviews.length >= 0) {
                            reviews.forEach((review)=> {
                                $("#count").text(`${total_reviews}`)

                                $("#reviews").append(`
                                    <div class="pe-auto shadow-sm w-75 p-3 mb-5 bg-body rounded">
                                        <p class="m-1 px-2 border-start border-warning border-3 rounded-start">${review.review_text} </p>
                                        <p class="blockquote-footer text-end m-0 mt-1">${review.username}</p> 
                                    </div>
                                `) 
                            })
                        }
                    },
                    error: (error)=> {
                        console.log(error.message)
                    }
                })
    })
    // submit review function
    $("#form").submit(function(e){
        e.preventDefault();
        $("#post").text("Posting ...")
        $("#post").prop("disabled", true)

        let data = new FormData($(this).get(0))

        // get coookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        
        $.ajax({
            url:"{% url 'body:add_review' %}",
            type: "POST",
            processData: false,
            contentType: false,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                'X-CSRFToken': csrftoken
            },
            data: data,
            success: (response)=> {
                
                $("#post").text("Post Review")
                $("#post").prop("disabled", false)
                
                if ($(".none")){
                    $(".none").remove()
                  }

                const review_data = JSON.parse(response.review)[0].fields
                
                $("#postReviewCollapse").collapse('hide')
                
                $("#reviews").prepend(`
                <div class="pe-auto shadow-sm w-75 p-3 mb-5 bg-body rounded">
                    <p class="m-1 px-2 border-start border-warning border-3 rounded-start">${review_data.review_text}</p>
                    <p class="blockquote-footer text-end m-0 mt-1">${review_data.username}</p> 
                </div>
                `) 
            },
            error: (error)=> {
                console.log(error.message)                
                $("#post").text("Post Review")
                $("#post").prop("disabled", false)
            }
        })
    })
</script>
{% endblock javascript %}