{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class="text-center container">
    <!-- posted reviews total in number post review -->
    <section class='my-4 py-4'>
        <h6 class="fw-bold">{{ total_reviews }} 
            Reviews posted.
            <button class="btn btn-link btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#reviewCollapse" aria-expanded="false" aria-controls="reviewCollapse">
                Post your review
            </button
        </h6>

          <div class="collapse mt-2" id="reviewCollapse">
            <div class="card card-body">
                <form  method='post' action="{% url 'body:add_review' %}" id="add-review-form" class='d-flex flex-column justify-content-center align-items-center' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.review_text|add_class:"form-control" }}
                    <button type="submit" class="btn btn-sm btn-primary py-1 px-3 mt-3">Post Review</button>   
                </form>
            </div>
          </div>
          
    </section>
    <!-- review list -->
    <section class='review_section'>
        {% for review in review_list  %}
            <div class='review'>
                <div class='name-ts'>
                    <h6 class='name'>@{{ review.user.username }}</h6>
                    <p class='ts'>{{review.pub_date|date:"d M Y"}}</p>
                </div>
                <p class='review_text'>{{ review.review_text }}</p>
            </div>
        {% endfor %}
    </section>

</section>
{% endblock content %}