<!-- header or navbar -->
{% if request.user.is_authenticated %}
<header class='py-2 colored-header'>
{% else %}
<header class="py-2">
{% endif %}
    <nav class="container navbar my my-nav fs-6">
        <div class="mb-2 text-center">
          <a class="navbar-brand" href="{% url 'body:home' %}">Track Bodycount</a>
        </div>

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'body:home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'body:reviews' %}">Reviews</a>
            </li>
            
            {% if request.user.is_authenticated %}
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Settings</button>
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                  <li><a class="dropdown-item" href="{% url 'users:view_profile' %}">Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Change password</a></li>
                  <li><a class="dropdown-item" href="{% url 'users:signout' %}">Sign Out</a></li>
                </ul>
              </div>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:signin' %}">Sign In</a>
            </li>
            {% endif %}
    </nav>
    
</header>

