<!-- header or navbar -->
<header class='my-header'>
    <nav>
        <!-- logo name -->
        <h5><a href="{% url 'body:home' %}">Track Bodycount</a></h5>
        
        <!-- menu -->
        <ul>
            
            <li> 
                <a href="{% url 'body:home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'body:reviews' %}">Reviews</a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'users:signout' %}">Sign Out</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'users:signin' %}">Sign In</a>
            </li>
            {% endif %}
    </nav>
    
</header>

