{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Welcome{% endblock title %}
<!-- attaching block content -->
{% block content %}
    <section class="container mt-3">
        <!-- alert toast -->
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container position-absolute top-0 end-0 p-3">
          
              <!-- Then put toasts within -->
              <div class="toast align-items-center text-white bg-warning" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                  <div class="toast-body"></div>
                  <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
              </div>

            </div>
          </div>

        <div class='row row-cols-lg-2 welcome-container'>
            <!-- welcome message -->
            <div class="col text-center">
                <h4 class="my-4 text-capitalize" >Welcome</h4>
                <p>I help humans with high sex drive like myself, who loves having sex with diffrent humans, to track their bodycounts.</p>
                <p>Personally I lost track of my bodycount which is sad, so I decided to make this web app to help my fellow humans not lose track of their bodycount.</p>
            </div>
            <!-- sign up form -->
            <div class="col">
                <form class="form-content" id='form' action="">
                    {% csrf_token %}
                    <p class="text-center m-0 py-2 fs-4 fw-bold mb-3">Welcome don't be shy</p>

                    <div class='mb-3' >
                        <label for="username">Username</label>
                        {{form.username|add_class:"form-control"}}
                        <p class='username-error fs-6 mt-1 text-danger'></p>
                    </div>
                    
                    <div class='mb-3' >
                        <label for="email">Email</label>
                        {{form.email|add_class:"form-control"}}
                        <p class='email-error fs-6 mt-1 text-danger'></p>
                    </div>
                    
                    <div class='mb-3' >
                        <label for="password1">Password</label>
                        {{form.password1|add_class:"form-control"}}

                    </div>
        
                    <div class='mb-3' >
                        <label for="password2">Confirm Password</label>
                        {{form.password2|add_class:"form-control"}}

                    </div>
                    
                    <div class='d-grid gap-2 mt-3'>
                        <button type="submit" id='submit' class=" btn-main py-1 px-3">Sign Up</button>
                    </div>
                </form>
                
                <p class='text-center mt-3'>have an account <a href="{% url 'users:signin' %}">login</a></p>

            </div>

        </div>
        
    </section>
{% endblock content %} 


{% block javascript %}
<script>
    // when ready
    $(document).ready(function(){
        $("body").addClass("welcome")
    })

    // email key up
    $("#id_email").focusout(function(e){
        const data = {"email":e.target.value}

        // get coookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        
        $.ajax({
            url:"{% url 'users:check_mail' %}",
            type: "POST",
            processData: false,
            contentType: false,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                'X-CSRFToken': csrftoken
            },
            data: JSON.stringify(data),
            success: (response)=> {
                if (response.valid) {
                    $(".email-error").text("email exists")
                }
            },
            error: (error)=> {
                console.log(error.message)
            }
        })
    })

    // clear email warning
    $("#id_email").focusin(function(e){
        $(".email-error").text("")
    });

    // username
    $("#id_username").focusout(function(e){
        const data = {"username":e.target.value}

        // get coookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
        
        $.ajax({
            url:"{% url 'users:check_username' %}",
            type: "POST",
            processData: false,
            contentType: false,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                'X-CSRFToken': csrftoken
            },
            data: JSON.stringify(data),
            success: (response)=> {
                if (response.valid) {
                    $(".username-error").text("username exists")
                }
            },
            error: (error)=> {
                console.log(error.message)
            }
        })
        
    })

    // clear email warning
    $("#id_username").focusin(function(e){
        $(".username-error").text("")
    }); 
    // Registering user
    $("#form").submit(function(e){
        e.preventDefault();


        let data = new FormData($(this).get(0))


        // get coookies
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        // counter check if password before submitting
        const password1 = $("#id_password1").val()
        const password2 = $("#id_password2").val()

        if (password1 === password2) {            

            $("#submit").text("Registering ...")
            $("#submit").prop('disabled',true)
            
            $.ajax({
                url:"{% url 'body:welcome' %}",
                type: "POST",
                processData: false,
                contentType: false,
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    'X-CSRFToken': csrftoken
                },
                data: data,
                success: (response)=> {
                    console.log(response.message)
                    window.location.href = 'home/'
                },
                error: (error)=> {
                    console.log(error.message)
                }
            });
        } else {
            $(".toast-body").text("Password don't match")
            $(".toast").toast("show")

        }
    })
</script>
{% endblock javascript %}