{% extends "base.html" %}
{% load static %}

<!-- attaching block content -->
{% block content %}
    <section class="container mt-5 text-center">
        <!-- welcome message -->
        <div class="my-4">
            <h4 class="my-4 text-capitalize" >Welcome</h4>
            <p>I help humans with high sex drive like myself, who loves having sex with diffrent humans, to track their bodycounts.</p>
            <p>Personally I lost track of my bodycount which is sad, so I decided to make this web app to help my fellow humans not lose track of their bodycount.</p>
        </div>
        <!-- sign up and sign in buttons -->
        <button class="my-btn py-1 px-3 mx-3">Sign Up</button>
        <p class="mt-2 text-center text-muted">Don't be ashamed !!!!!</p>
    </section>
{% endblock content %}