{% extends 'base.html' %}

{% block content %}
<section class="container">
    <!-- personal profile head / title -->
    <h5 class='text-center text-capitalize'>Profile</h5>
    <!-- personal information -->
    <div class="profile-container my-5">
        <div class='info-img'>
            <div>                    
                <!-- personal/first name -->
                <p>Personal name :- <span>Kylie</span></p>
                <!-- username -->
                <p>Username :- <span>bandit</span> </p>
                <!-- email -->
                <p>Email :- <span>bandit@gmail.com</span></p>  
                <!-- age -->
                <p>Age :- <span>23</span></p>
            </div>
            <!-- image -->
            <img src="/track bdc/images/juliet.jpg" class='profile-img' alt="profile photo" srcset="">
        </div>

        <div class='info-extra'>                                  
            <!-- sex -->
            <p>Sex :- <span>male</span></p>
            <!-- sexuality -->
            <p>Sexuality :- <span>straigth</span></p>
            <!-- target -->
            <p>Bodycount target :- <span>40</span></p>
            <!-- favourite porn -->
            <p>Favourite Porn :- <span>Lesbian</span></p>
            <!-- fetish -->
            <P>Fetish :- <span>baby mamas</span></P>
        </div>
    </div>
    <div class="my-3 text-center">
        <button class="fs-6 fw-bold text-capitalize py-1 px-3 my-btn-muted">update Profile</button>
        <button class="fs-6 fw-bold text-capitalize py-1 px-3 my-btn">Close Account</button>
    </div>        
</section>
{%  endblock content %}