{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class="container">
    <!-- personal information -->
    <div class="profile-container my-5">
        <div class='info1'>
            <!-- personal/first name -->
            <p>Username :- <span>{{ profile_details.username}}</span></p>
            <!-- email -->
            <p>Email :- <span>{{ profile_details.email }}</span></p>  
            <!-- age -->
            <p>Age :- <span>{{profile_details.age }}</span></p>
            <!-- sex -->
            <p>Sex :- <span>{{profile_details.sex}}</span></p>
        </div>

        <div class='info2'>                                  
            <!-- sexuality -->
            <p>Sexuality :- <span>{{profile_details.sexuality}}</span></p>
            <!-- target -->
            <p>Bodycount target :- <span>{{profile_details.target}}</span></p>
            <!-- favourite porn -->
            <p>Favourite Porn :- <span>{{profile_details.favourite_porn}}</span></p>
            <!-- fetish -->
            <P>Fetish :- <span>baby mamas</span></P>
        </div>
    </div>
    <div class="my-3 text-center">
        <button class="fs-6 fw-bold text-capitalize py-1 px-3 my-btn-muted">update Profile</button>
        <button class="fs-6 fw-bold text-capitalize py-1 px-3 my-btn">Close Account</button>
    </div>        
</section>
{%  endblock content %}