{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class="container">
    <form action="{% url 'users:registration' %}" method='post' id="signup">
        {% csrf_token %}
        <p class="text-center m-0 py-2">Create account</p>
        <div class="content">
            <div >
                <label for="username">Username</label>
                {% comment %} <input type="text" placeholder=" create username" name="username"> {% endcomment %}
                {{ form.username|add_class:"form-control"}}
            </div>
            
            <div >
                <label for="email">Email</label>
                {% comment %} <input type="email" placeholder="type your email" name="email"> {% endcomment %}
                {{ form.email|add_class:"form-control"}}
            </div>
            
            <div >
                <label for="password1">Password</label>
                {% comment %} <input type="password" placeholder="type your password" name="password1"> {% endcomment %}
                {{ form.password1|add_class:"form-control"}}
            </div>

            <div >
                <label for="password2">Confirm Password</label>
                {% comment %} <input type="password" placeholder="type your password" name="password2"> {% endcomment %}
                {{ form.password2|add_class:"form-control"}}
            </div>

            <button type="submit" class="my-btn-fill py-1 px-3">Sign Up</button>
        </div>
    </form>
    
    <p class='text-center'>have an account <a href="{% url 'users:signin' %}">login</a></p>
</section>
{% endblock content %}